.titleBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid black;
}

.title{
    color: white;
}

.searchBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 25px;
}

.containerSearchBox{
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    background: #f6f6f6;
    align-items: center;
}

.searchInputBox{
    width: 95%;
    height: 15%;
    background: none;
    border: none;
    font-size: 20px;
    padding: 7px;
    outline: none;
}

.searchIcon{
    margin-left: 7px;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.cardBox{
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(250px, max-content)
    );
    width: 70%;
    gap: 15px;
    place-content: start center;
}

.imageComic{
    width: 100%;
    height: 360px;
    transition: 0.5s;
    border-radius: 6px;
}

.containCharacter{
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 250px;
}

.infoCharacter{
    position: absolute;
    bottom: 0;
    text-align: center;
    place-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 15%;
    border-radius: 0 0 6px 6px;
    transition: 0.5s;
}

.nameCharacter{
    font-weight: bold;
    font-size: 25px;
    font-family: "Courier New", Courier, monospace;
    color: rgb(255, 255, 255, 0.6);
    transition: 0.5s;
}

.descriptionCharacter{
    font-size: 17px;
    font-family: "Courier New", Courier, monospace;
    color: white;
    opacity: 0;
    display: none;
}

.boldDescription{
    font-weight: bold;
}

.containCharacter:hover .nameCharacter{
    cursor: pointer;
}

.containCharacter:hover .infoCharacter{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.5s;
    border-radius: 6px;
}

.containCharacter:hover .descriptionCharacter{
    display: block;
    opacity: 1;
}

.containCharacter:hover .imageComic{
    transform: scale(1.03);
}

